.settings-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.Input {
  padding-left: 75px;
}

.generator-settings {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.settings-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chocolate;
  width: auto;
  height: 50px;
}

.Title {
  font-size: 30px;
}
