.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Menu {
  align-self: center;
  justify-content: center;
}

.SVG {
  width: auto;
  height: 85vh;
  flex: 1;
  margin: 10px;
}